* {
    padding: 0;
    margin: 0;
}

%grid1-2 {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    column-gap: 3rem;
}

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

%flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-row {
    display: flex;
    flex-direction: row;
}
html {
    font-family: "Helvetica";
}
body {
    padding: 1rem;
}

h1,
h2,
h3 {
    margin: 1rem;
    line-height: 1.5;
}

hr {
    margin: 1rem;
    border: 0;
    border-top: 2px solid rgba($color: #404752, $alpha: 0.7);
    width: 100%;
    padding: 0 rem 0 2rem;
}

p {
    max-width: 100%;
    white-space: normal;
    word-break: normal;
    text-align: center;
    line-height: 1.5;
    padding: 0 1.5rem 0 1.5rem;
}

.fa-linkedin,
.fa-envelope,
.fa-phone-square-alt 
{
    color: rgba($color: #000000, $alpha: 0.7);
    margin-top: 1rem;
}

.img {
    max-height: 200px;
    border-radius: 0.5rem;
}

.style-button {
    padding: 1rem;
}
.content-section {
    max-width: 1000px;
    margin: auto;
    &--grid1-2 {
        @extend %grid1-2;
    }
}

.div-section {
    &--flex-column {
        @extend %flex-column;
        max-width: 100%;
    }
    &--flex-column-center {
        @extend %flex-column-center;
        max-width: 100%;
    }
    &--flex-row {
        @extend %flex-row;
    }
}

.dark {
    background-color: rgba(30, 30, 30, 1);
    color: white;
}